.message-box {
  display: flex;
  height: calc(100vh - 164px);
  width: 100%;
  position: relative;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: transparent;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  padding: 10px 24px 6px;
  font-weight: 700;
  font-family: "GRIFTER";
  font-size: 14px;
  line-height: 120%;
  text-transform: uppercase;
  width: fit-content;
}

.tab.selected {
  background: linear-gradient(92.31deg, #eeff21 -2.9%, #b7ff5c 113.47%);
  color: #212121;
}

.message-box.pix {
  height: calc(100vh - 72px);
}
.message-box.pix .message-list {
  border-right: none;
  padding-left: 0;
}

.message-box.pix .message-list .message-list-items {
  height: 100%;
}

.message-box.pix .message-list .message-list-items .message-list-header,
.message-box.pix .message-list .message-list-items .search-inputbox {
  padding-left: 20px;
}

.message-box.pix .message-content .item-list .left-item .item-content {
  background: linear-gradient(0deg, #eef2f7, #eef2f7), #f0f5f8;
}

.message-box.pix .message-list-items .item-list .item-content .date {
  color: rgba(67, 26, 183, 1);
}

.message-box.pix .message-list-items .item-list .item-content .message {
  color: rgba(24, 24, 24, 1);
}

.connect-status {
  width: 15px;
  border-radius: 50%;
  height: 14px;
  margin-left: auto;
  background: conic-gradient(
    from 111.31deg at 50% 51.67%,
    #b1ff00 -118.12deg,
    #00ff15 110.62deg,
    #b1ff00 241.88deg,
    #00ff15 470.63deg
  );
}

.message-box.pix .message-list .message-list-items .item-list .item {
  padding-left: 20px;
}

.message-list .message-list-items .item-list .item {
  align-items: center;
}

.message-list {
  flex: 1;
  border-right: 1px solid #e5e5e5;
  padding-right: 20px;
  height: 100%;
  padding-left: 20px;
}

.message-content {
  flex: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-right: none;
  position: relative;
  height: calc(100% - 20px);
  background: #fff;
  margin: 20px 0 0;
  border-radius: 16px;
}

.message-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.message-content.mobile {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 20px);
  background: white;
}

.message-content.mobile .message-content-container {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}

.message-content.mobile .profile-actions img:last-child {
  margin-left: 10px;
}

.message-content.mobile.none {
  display: none;
}

.message-content .message-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 104.5%;
  text-align: center;
  color: #707582;
}

.message-profile {
  flex: 1;
  padding: 26px;
  height: 100%;
}

.message-content .item-list .left-item {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  width: 80%;
  position: relative;
  margin-left: 24px;
}

.message-content .item-list .left-item .avatar-container {
  position: absolute;
  bottom: -12px;
  left: -24px;
}

.message-content .item-list .right-item {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.message-footer1 {
  display: flex;
  align-items: center;
  padding: 16px 20px 13px 27px;
  background-color: #151515;
}

.message-content.mobile .message-footer1 {
  bottom: 46px;
}
.message-footer1 > section {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 40px);
  z-index: 2000;
}

.message-footer1 .input {
  padding-left: 20px;
  border-radius: 12px;
  border: 1px solid #949bab;
  background: #f7f9fe;
  width: 100%;
  min-height: 40px;
  overflow-y: auto;
  outline: none;
}

.message-footer1 .input textarea {
  max-height: 150px;
  overflow: auto !important;
}

.message-footer1 .input:placeholder-shown {
  background-color: #f7f9fe;
}

.message-footer1 .audio-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-top: 0px;
}

.message-footer1 .attachment-icon {
  margin-left: 11px;
  margin-right: 11px;
  cursor: pointer;
}

.message-footer1 .emoji-icon {
  margin-left: 30px;
  margin-right: 11px;
  cursor: pointer;
}

.message-footer1 .send-icon {
  background: linear-gradient(97.4deg, #8f66ff 14.43%, #4218b5 79.45%);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  padding: 11px;
  cursor: pointer;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 80%;
}

.left-item .item-content {
  align-items: flex-start;
}

.item-list-container {
  overflow-y: auto;
  margin: 20px 13px 20px 25px;
  padding-right: 12px;
  flex: 1;
  max-width: 398px;
}
.item-list-container::-webkit-scrollbar {
  width: 7px;
}
.item-list-container::-webkit-scrollbar-track {
  background: rgba(21, 21, 21, 0.2);
}
.item-list-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}
.message-content .no-items-label {
  width: 100%;
  color: grey;
  font-size: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-content.mobile .item-list-container {
  flex: 1;
}

.right-item {
  justify-content: flex-end;
}

.left-item {
  justify-content: flex-start;
}

.right-item .item-content {
  align-items: flex-end;
}

.left-item .item-subtitle {
  font-size: 8px;
  color: grey;
  display: flex;
  justify-content: flex-start;
}

.right-item .item-subtitle {
  font-size: 8px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.right-item .item-subtitle.grey {
  color: grey;
}

.right-item .item-content .item-message {
  width: 100%;
  text-align: right;
  margin-bottom: 2px;
  margin-top: 2px;
  white-space: pre-wrap;
  color: #151515;
  font-family: "Rany";
  font-weight: 500;
  font-size: 14px;
  background: #e9ff26;
  border-radius: 4px;
  padding: 6px 12px;
  width: fit-content;
  float: right;
}

.left-item .item-content .item-message {
  width: 100%;
  text-align: left;
  margin-bottom: 2px;
  margin-top: 2px;
  white-space: pre-wrap;
  font-family: "Rany";
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  background: transparent;
}

.right-item .item-content .item-file {
  display: flex;
}

.left-item .item-content .item-file {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right-item .item-content .item-file .item-file-name {
  width: calc(100% - 30px);
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.left-item .item-content .item-file .item-file-name {
  width: calc(100% - 30px);
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.right-item .item-content .item-file .item-file-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.left-item .item-content .item-file .item-file-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.avatar-container {
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-right: 15px;
}

.avatar-container > img {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.message-content .item-list .avatar-container .message-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.message-list .item-list .item-content .message img {
  width: 30px;
}

.message-content.mobile .name {
  font-size: 14px;
  margin-bottom: 6px;
}

.slug-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.message-content.mobile .slug-container {
  margin-bottom: 0;
}

.message-content.mobile .slug-container .slug-name {
  font-weight: 400;
  font-size: 11px;
  color: rgba(158, 172, 242, 1);
  margin-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: "-webkit-box";
  -webkit-line-clamp: 1;
  -webkit-box-orient: "vertical";
}

@media (max-width: 900px) {
  .item-list-container {
    margin: 12px 8px;
    max-width: 260px;
  }
  .message-footer1 {
    padding: 16px 8px;
  }
}

@media (max-width: 600px) {
  .item-list-container {
    max-width: 100%;
  }
}
